<!--SIDEBAR-->
<div class="col-auto col-1 sideber  bg-dark">
    <div class="d-flex flex-column align-items-center sidebar-menu">
        <a href="#" class="d-flex align-items-center mt-4 mb-4 text-white text-decoration-none">
            <span class="fs-5 text-center">Menu</span>
        </a>
        <ul class="navbar-nav gap-4 mt-2 sidebar-navegacion">
            <li class="nav-item">
                <div class="menu-group">
                    <a class="text-decoration-none" href="/inventario">
                        <button class="menu-button text-white d-flex flex-column align-items-center">
                            <i class="bi bi-archive"></i>
                            <span class="mx-3">Inventario</span>
                        </button>
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <div class="menu-group">
                    <a class="text-decoration-none" href="/registros">
                        <button class="menu-button text-white d-flex flex-column align-items-center">
                            <i class="bi bi-journal-text"></i>
                            <span class="mx-3">Registros</span>
                        </button>
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <div class="menu-group">
                    <a class="text-decoration-none" href="/productos">
                        <button class="menu-button text-white d-flex flex-column align-items-center">
                            <i class="bi bi-basket"></i>
                            <span class="mx-3">Productos</span>
                        </button>
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <div class="menu-group">
                    <a class="text-decoration-none" href="/reportes">
                        <button class="menu-button text-white d-flex flex-column align-items-center">
                            <i class="bi bi-file-earmark-text"></i>
                            <span class="mx-3">Reportes</span>
                        </button>
                    </a>
                </div>
            </li>
            
            <li class="nav-item">
                <div class="menu-group">
                    <a class="text-decoration-none" href="/establecimiento">
                        <button class="menu-button text-white d-flex flex-column align-items-center">
                            <i class="bi bi-shop"></i>
                            <span class="mx-3">Establecimiento</span>
                        </button>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>