{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="d-flex container-fluid mt-4">
        <div class="d-flex justify-content-center w-100">
            <h2 class="text-center fw-semibold">
                Agregar Producto
            </h2>
        </div>
        <div class="text-center justify-content-end">
            <a class="text-decoration-none" href="/detalle/producto/agregar">
                <button type="button" class="btn btn-primary text-white btn-volver border-0">
                    <i class="bi bi-arrow-bar-left mx-3"></i>Volver
                </button>
            </a>
        </div>
    </div>

    <form action="" method="POST">

        <div class="row mb-4 mt-5 d-flex justify-content-center align-items-center gap-4">
            <div class="col-md-5">
                <label for="categoria" class="form-label fw-medium">Categoria del producto</label>
                <select id="categoria" name="categoria" class="form-select" required>
                    <option disabled selected value="">Selecciona una categoria</option>
                    {% for categoria in categorias %}
                    <option value="{{ categoria.idCategoria }}">{{ categoria.categoria }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-5">
                <label for="marca" class="form-label fw-medium">Marca</label>
                <select id="marca" name="marca" class="form-select" required>
                    <option disabled selected value="">Selecciona una marca</option>
                    {% for marca in marcas %}
                    <option value="{{ marca.idMarca }}">{{ marca.marca }}</option>
                    {% endfor %}
                </select>
                <div class="mt-2">
                    <small class="text-muted">¿No encuentras la marca?
                        <a href="{{ url_for('main.marca_agregar') }}" class="text-primary text-decoration-none">Agrégala
                            aquí</a>
                    </small>
                </div>
            </div>
        </div>

        <div class="row mb-4 d-flex justify-content-center align-items-center gap-4">
            <div class="col-md-5">
                <label for="nombre-producto" class="form-label fw-medium">Nombre del producto</label>
                <input type="text" id="nombre-producto" name="nombre-producto" class="form-control"
                    placeholder="Ej: Leche, Pan" required>
            </div>

            <div class="col-md-5">
                <label for="descripcion" class="form-label fw-medium">Descripción</label>
                <input type="text" id="descripcion" name="descripcion" class="form-control"
                    placeholder="Ej: leche deslactosada" required>
            </div>
        </div>

        <div class="row mb-4 d-flex justify-content-center align-items-center gap-4">
            <div class="col-md-5">
                <label for="imagen" class="form-label fw-medium">URL de la imagen del producto</label>
                <input type="url" id="imagen" name="imagen" class="form-control"
                    placeholder="https://ejemplo.com/imagen.jpg">
            </div>

            <div class="col-md-5">
                <label for="valoracion" class="form-label fw-medium">Valoración (1 al 10)</label>
                <input type="number" id="valoracion" name="valoracion" class="form-control" placeholder="Ej: 7" min="1"
                    max="10" step="0.1" required>
            </div>

        </div>

        <div class="d-flex justify-content-center mt-5">
            <button type="submit" class="btn btn-agregar btn-primary border-0 text-white">
                <i class="bi bi-plus-circle me-2"></i>Agregar Producto
            </button>
        </div>
    </form>


</div>

{% endblock %}