{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="row d-flex container-fluid justify-content-center gy-3">
        <div class="col-md-7 d-flex justify-content-center">
            <h2 class="text-center fw-semibold">Establecimientos</h2>
        </div>
        <div class="col-md-5 d-flex text-center  justify-content-center">
            <a class="text-decoration-none" href="/establecimiento/agregar">
                <button type="button" class="btn text-white btn-primary btn-usuario border-0">Agregar establecimiento<i
                        class="bi bi-plus-lg mx-3"></i></button>
            </a>
        </div>
    </div>

    <div class="table-responsive mt-5">
        <table class="table table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Hora de apertura</th>
                    <th>Hora de cierre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% if establecimientos %}
                {% for establecimiento in establecimientos %}
                <tr>
                    <td>{{ establecimiento.establecimiento }}</td>
                    <td>{{ establecimiento.direccion }}</td>
                    <td>{{ establecimiento.horaApertura }}</td>
                    <td>{{ establecimiento.horaCierre }}</td>
                    <td>
                        <a href="{{ url_for('main.editar_establecimiento', id=establecimiento.idEstablecimiento) }}"
                            class="btn btn-warning btn-sm m-1">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5" class="text-muted">No hay establecimientos registrados</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}