{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="row d-flex container-fluid justify-content-center gy-3">
        <div class="col-md-7 d-flex justify-content-center">
            <h2 class="text-center fw-semibold">Registro de Compras</h2>
        </div>
        <div class="col-md-5 d-flex text-center  justify-content-center">
            <a class="text-decoration-none" href="/registro/agregar">
                <button type="button" class="btn text-white btn-primary btn-usuario border-0">Agregar registro<i
                        class="bi bi-plus-lg mx-3"></i></button>
            </a>
        </div>
    </div>

    <div class="table-responsive mt-5">
        <table class="table table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Establecimiento</th>
                    <th>Vendedor</th>
                    <th>Total</th>
                    <th>Información</th>
                </tr>
            </thead>
            <tbody>
                {% if compras %}
                    {% for compra in compras %}
                    <tr>
                        <td>{{ compra.fechaCompra.strftime('%Y-%m-%d') }}</td>
                        <td>{{ compra.fechaCompra.strftime('%H:%M') }}</td>
                        <td>{{ compra.establecimiento if compra.establecimiento else '---' }}</td>
                        <td>{{ compra.vendedor if compra.vendedor else '---' }}</td>
                        <td>S/ {{ "%.2f"|format(compra.total) }}</td>
                        <td>
                            <a href="/detalle/registro/{{ compra.idCompra }}" class="btn btn-info btn-sm rounded text-white">
                                Ver <i class="bi bi-eye mx-2"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center text-muted">No hay registros de compras</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}